<div class="card">
  <h3 class="card-header text-center font-weight-bold py-4">TimeEntry</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <button type="button" title="New" class="btn btn-info btn-rounded btn-sm my-0" (click)="onNewRecord()">New</button>
      <br><br>
      <table class="table table-responsive-md table-striped">
        <tr>
          <th>Title</th>
          <th>Action</th>
        </tr>
        <tbody *ngFor="let record of records | async">
          <tr>
            <td class="pt-3-half">
              {{record.projectId}}  /
              {{record.storyId}} /
              {{record.hours}}
            </td>
            <td>
              <span class="">
                <button type="button" title="Edit record" class="btn btn-info btn-rounded btn-sm my-0"
                  (click)="openRecord(record.id)">Edit</button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>